:root {
    --primary-dark-color: #2E2F42;
    --primary-light-color: #FFFF;
    --main-color-text: #434455;
    --accent-color: #E7E9FC;
    --presed-state-btn: #404BBF;
    --primary-brand-color: #4D5AE5;
    --light-background-color: #F4F4FD;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.link {
text-decoration: none;
}

.list {
list-style: none;
}

.button {
    border: 1px solid transparent;
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-dark-color);
    letter-spacing: 0.02em;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-color-text);
}

/* ======================================HEADER============================= */
.header-page {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--accent-color);
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.nav-wrapper {
    display: flex;
    align-items: center;
}

.main-nav {
    display: flex;
}

.logo-header {
    font-family: 'Raleway', sans-serif ;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: inherit;
    margin-right: 76px;
}

.logo-brand {
    color: var(--primary-brand-color);
}

.nav-link {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: inherit;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--primary-brand-color);
}

.nav-list-item:not(:last-child) {
    margin-right: 40px;
}

.address {
    font-style: normal;
}

.address-list {
    display: flex;
}

.address-list-item:not(:last-child) {
    margin-right: 40px;
}


.address-link {
    color: var(--main-color-text);
    font-size: 16px;
    line-height: 1.5;
}

.address-link:hover,
.address-link:focus {
    color: var(--primary-brand-color);
    }

/* ======================================HEADER============================= */
/* ======================================HERO============================= */
.hero {
    background: var(--primary-dark-color);
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-wrapper {
    text-align: center;
    
}

.hero-title { 
    color: var(--primary-light-color);
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 48px;
    

}

.hero-btn {
    color: var(--primary-light-color);
    background: var(--primary-brand-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    
}

.hero-btn:hover,
.hero-btn:focus {
    background: var(--presed-state-btn);
}
/* ======================================HERO============================= */
/*======================================FEATURE=========================== */


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;    
}

.feature-list {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 24px;
}

.feature-item-list {
    flex-basis: calc((100%-72px)/4);
}

.feature-subtitle {
    
}

.feature-text {

}
/* ======================================FEATURE============================= */
/* ======================================TEAM============================= */

.team-title {
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.team-card {
    padding: 32px 16px;
    text-align: center;
}

.team-subtitle {
}

.team-text {

}


/* ======================================WORK============================= */

.work-list {
    display: flex;
    gap: 24px;
}

.work-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

/* ======================================WORK============================= */

/* ======================================FOOTER============================= */
.footer-page {
    background: var(--primary-dark-color);
}

.footer-wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.03em;
    color: var(--light-background-color);
    
}
.footer-text {
    color: var(--accent-color);
    width: 264px;
    margin-top: 16px;
}

/* ======================================FOOTER============================= */
/* ======================================PORTFOLIO============================= */

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-filters {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 72px;
}
.portfolio-filter-list:not(:last-child) {
    margin-right:  24px;
}

.portfolio-btn {
    color: var(--primary-brand-color);
    background: var(--light-background-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 12px 24px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
    background: var(--presed-state-btn);
    color: var(--primary-light-color);
}

.disription-project-card {
    border: 1px solid var(--accent-color);
    border-top: none;
    padding: 32px 16px;
}
.project-card-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 48px;
    /* row-gap: 48px;
    column-gap: 24px; */
}

/* .project-card-list {
    flex-basis: calc(100%-48px)/3;
} */

.project-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}
.project-card-text {
    
}